.interests-section {
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.interests-grid {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.interests-grid:nth-child(2) {
  grid-row: 2;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.interests-grid:nth-child(4) {
  padding: 2rem;
  justify-content: center;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
}

.interests-section h2 {
  margin-bottom: 0;
  color: rgb(101, 88, 67);
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
}

.interests-grid p {
  border-radius: 10px;
  background-color: antiquewhite;
  color: rgb(101, 88, 67);
  padding: 10px 20px;
  margin: 0.2rem;
}

@media (max-width: 1000px) {
  .interests-section {
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
  }

  .interests-section h2 {
    text-align: center;
    display: inline;
    margin: 0;
    padding: 3.2rem 2rem 0 2rem;
    font-size: 3rem;
  }

  .interests-grid:nth-child(2) {
    padding: 1rem;
    margin: 0;
    justify-content: center;
  }

  .interests-grid:nth-child(4) {
    padding: 1rem;
    justify-content: center;
    margin: 0;
    padding-bottom: 3rem;
  }
}
