@import "../../index.scss";
#section-2 {
  padding: 0rem 4rem 2rem;
}

.skills-text-p {
  font-size: $desc-font;
  text-align: center;
  margin-top: 1rem;
}

#section-2 h2 {
  margin-bottom: 0;
  font-weight: 700;
  color: $main-color;
  text-align: center;
  font-size: $second-font;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills-grid-2 {
  transform: scale(0) translateY(20px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  border-radius: 2%;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.178);
  background-color: $main-color-white;
  @include justify-align-flex-flex-center;
  margin: 3rem;

  img {
    max-width: 100%;
    height: auto;
    width: 10rem;
    padding: 1rem;
  }

  p {
    margin: 0;
    font-weight: 200;
    padding: 0rem 2rem;
    padding-bottom: 2rem;
    text-align: justify;
  }
}

.skills-grid-2.visible {
  transform: scale(1) translateY(0);
  opacity: 1;
}

@media (max-width: 1000px) {
  #section-2 {
    padding: 2rem 0rem;

    p {
      padding: 0 2rem;
    }

    h2 {
      font-size: 3.3rem;
      margin: 0rem 2rem;
    }
  }

  .grid-2 {
    @include displays;
  }

  .skills-grid-2 {
    border-radius: 0;
    margin: 2rem 0;

    p {
      margin-bottom: 2rem;
    }
  }
}
