@import "../../index.scss";
.contact-section {
  padding: 0rem 3rem 0rem 3rem;
}
.contact-grid {
  padding: 4rem 0 0 0;
  display: grid;
  @include justify-align-center;
  grid-template-columns: 1fr 1fr;
}

.contact-item {
  @include justify-align-flex-flex-center;
  margin: 1rem;
  font-size: $desc-font;
}

.contact-details {
  padding: 2rem;
  @include displays;
  align-items: center;
}

.contact-image {
  width: 10rem;
  height: 10rem;
}

.contact-title {
  color: $main-color;
  font-size: $second-font;
  font-weight: 900;
  margin: 0;
}

.contact-link {
  font-size: $desc-font;
  color: $main-color;
  text-decoration: none;
  transition: $def-transition;
}

.contact-link:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 1000px) {
  .contact-section {
    padding: 0;
  }

  .contact-grid {
    padding: 2rem 0;
    @include displays;
  }

  .contact-title {
    text-align: center;
  }

  .contact-item {
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
