@use "../../index.scss" as *;
.contact-section {
  padding: 9vh 10rem 0 10rem;
}
.contact-grid {
  display: flex;

  flex-direction: column;

  h2 {
    font-size: $author-main-font;
    margin: 0;
    font-weight: 900;
    color: $main-color;
  }
  p {
    font-size: $author-p-font;
    text-align: justify;
    margin-right: 5rem;
  }
}

.contact-item {
  margin: 0.7rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: $desc-font;
}

.contact-details {
  padding: 1rem;
  @include displays;
  align-items: start;
}

.contact-image {
  width: 4vw;
  height: 4vw;
}

.contact-title {
  color: $main-color;
  font-size: 1vw;
  font-weight: 900;
  margin: 0;
}

.contact-link {
  font-size: $desc-font;
  color: $main-color;
  text-decoration: none;
  transition: $def-transition;
}

.contact-link:hover {
  text-decoration: none;
  color: black;
}

.contact-forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
  .contact-section {
    padding: 0;
  }
  .contact-forms {
    display: flex;
    flex-direction: column;
  }
  .contact-grid {
    padding: 2rem 1rem;
    @include displays;

    h2 {
      text-align: center;
    }
    p {
      margin: 1rem;
    }
  }

  .contact-item {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;

    .contact-details {
      align-items: center;

      .contact-title {
        font-size: 2.4rem;
      }
    }
  }
  .contact-image {
    width: 20vh;
    height: 20vh;
  }
}
