.contact-section {
  padding: 0rem 3rem 0rem 3rem;
}

.contact-grid {
  padding: 4rem 0 0 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  margin: 1rem;
  font-size: 1.2rem;
}

.contact-details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-image {
  width: 10rem;
  height: 10rem;
}

.contact-title {
  color: rgb(101, 88, 67);
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.contact-link {
  font-size: 1.6rem;
  color: rgb(143, 139, 132);
  text-decoration: none;
  transition: 0.3s ease;
}

.contact-link:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 1000px) {
  .contact-section {
    padding: 0;
  }

  .contact-grid {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
  }

  .contact-title {
    text-align: center;
  }

  .contact-item {
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
