@use "../../index.scss" as *;
header {
  @include lef-right;
  position: fixed;
  height: 7rem;
  z-index: 1;
  transition: $def-transition;
  display: flex;
  box-shadow: 1px 1px 10px 0.9px rgba(0, 0, 0, 0.225);
  justify-content: space-between;
  background-color: $header-color;
}

#mobile-burger {
  display: none;
}

#logo-btn {
  margin: 0.2rem;
  margin-left: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 5rem;
  transition: $def-transition;

  &:focus {
    border-radius: 50%;
  }
  &:hover {
    transform: scale(0.9);
  }
}

#my-logo {
  width: 4rem;
  transition: $def-transition;
}

.ul-about-me {
  display: flex;
  align-items: center;
  padding: 0;
  padding-right: 2rem;
}

.btn-menu {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
  padding: 10px 20px;
  border: none;
  background: transparent;
  font-size: $desc-font;
  color: $main-color;
  cursor: pointer;
  margin-left: 2rem;
  list-style: none;
  transition: 0.3s ease;

  &:focus {
    border-radius: 26px;
    transform: scale(0.9);
  }
}

#button-cv {
  border: none;
  display: inline-block;
  padding: 10px 20px;
  list-style: none;
  text-align: center;
  border-radius: 26px;
  transition: $def-transition;
  background-color: $main-color;
  color: white;
  font-weight: 300;
  font-size: $desc-font;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .ul-about-me {
    display: none;
    transition: $def-transition;
  }

  .ul-about-me.active {
    opacity: 1;
    @include displays;
    @include height-width-v;
    @include left-top-padding-margin-0;
    position: fixed;
    background-color: $main-color-white;
    justify-content: space-around;
    animation: menuin 0.5s forwards ease;
  }

  .ul-about-me.exiting {
    animation: menuout 0.5s forwards ease;
  }

  @keyframes menuin {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(0%);
    }
  }

  @keyframes menuout {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .btn-menu {
    margin: 0;
    font-size: 2rem;
    padding: 0;
  }

  #button-cv {
    border-radius: 0;
    border-bottom-width: 2rem;
    font-size: 1.7rem;
    color: $main-color;
    background-color: transparent;
  }

  #mobile-burger {
    transition: $def-transition;
    @include allCenter;
    width: 3rem;
    z-index: 1;
    margin: 0.2rem;
    margin-right: 2rem;
    height: auto;
    cursor: pointer;

    span {
      border-radius: 30px;
      transition: $def-transition;
      margin: 0.3rem;
      @include flex-align-center;
      height: 0.35rem;
      background-color: $main-color;
    }
    &:hover {
      transform: scale(0.9);
    }
  }

  .burger-open {
    transform: none;
    transition: $def-transition;
  }

  .burger-open.burger-line-0.active {
    transform: rotate(45deg) translateY(15%) translateX(55%);
  }

  .burger-open.burger-line-1.active {
    transform: rotate(-45deg) translateX(30%) translateY(200%);
  }

  .burger-open.burger-line-2.active {
    transform: rotate(45deg) translateY(-370%) translateX(0);
  }
}
