.developed-skills-section {
  left: 0;
  right: 0;
  padding: 4rem;
  background-color: antiquewhite;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.104);
  text-align: center;
}

.developed-skills-section h2 {
  color: rgb(101, 88, 67);
  font-size: 3rem;
  margin: 0;
}

.developed-skills-section p {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.skills-grid {
  display: flex;
  justify-content: center;
}

.skill-item {
  transform: scale(0) translateY(20px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item.visible {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.skill-item p {
  font-size: 2rem;
}

.skills-image {
  margin: 2rem;
  width: 30%;
}

@media (max-width: 1000px) {
  .developed-skills-section {
    padding: 2rem 0.5rem;
  }

  .developed-skills-section h2 {
    font-size: 3.5rem;
    padding: 0.6rem;
    padding-top: 2rem;
    margin: 0;
  }

  .skills-grid {
    display: flex;
    flex-direction: column;
  }

  .skill-item img {
    margin: 0.5rem;
    width: 9rem;
  }
}
