@use "../../index.scss" as *;

.footer {
  color: $container-color;
  background-color: $main-color;
  margin: 4rem;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .footer-logo {
    min-width: 4.4rem;
  }

  @media (max-width: 1000px) {
    @include displays;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .footer-section {
    color: $container-color;
    padding: $footer-padding;
    @include displays;
    align-items: center;
    justify-content: center;

    h3 {
      color: inherit;
      margin: 0;
      font-size: 1.8rem;
      white-space: nowrap;
    }

    a,
    .footer-button {
      color: inherit;
      font-size: $footer-font-size;
      margin: 0.1rem;
      text-align: center;
      text-decoration: none;
      transition: $footer-transition;
    }
  }

  .footer-logo {
    max-width: 100%;
    height: auto;
    width: 10rem;
  }

  .footer-button {
    background-color: transparent;
    border: none;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
    cursor: pointer;

    &:hover {
      transform: scale(0.92);
    }
  }
}
