@use "../../index.scss" as *;
.projects-section {
  padding: 0;
}

#section-6 h2 {
  color: $main-color;
  font-weight: 900;
  text-align: center;
  font-size: $author-main-font;
  margin-top: 2.5vh;
  margin-bottom: 0;
}

.project-title {
  font-size: 1.3rem;
  margin-bottom: 3.5vh;
  text-align: center;
}

.project-container {
  margin: 4vh 12vw;
  background-color: rgba(250, 235, 215, 0.531);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.145);
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  overflow: hidden;

  img {
    @include height-width-100;
    object-fit: cover;
  }
}
.projects-technology {
  margin-bottom: 1rem;
  p {
    margin: 0 0 0.5rem 0;
  }
  img {
    margin-right: 0.9rem;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
  }
}

.project-text {
  @include allCenter;
  padding: 2vw;

  h3 {
    font-weight: 800;
    color: $main-color;
    margin: 0;
    font-size: $author-p-font;
  }
  p {
    text-align: justify;
    font-size: $desc-font;
  }
}

.project-buttons {
  .project-btn-live {
    border: 1.9px solid $main-color;
    border-radius: 5px;
    color: $main-color;
    padding: 1.3vh 1vw;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      color: white;
      background-color: $main-color;
    }
  }

  .project-btn-source-code {
    padding: 0 1rem;
    border-radius: 5px;
    border: none;
    padding: 1.3vh 1vw;
    background-color: transparent;
    color: $main-color;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.04);
    }
  }
}

.img-project {
  width: auto;
  height: auto;
  @include justify-align-flex-flex-center;
  overflow: hidden;
}

@media (max-width: 1000px) {
  #section-6 h2 {
    margin: 0;
    padding: 4rem 2rem;
    padding-bottom: 0rem;
    font-size: 4rem;
  }

  .project-title {
    padding: 0rem 2rem 1rem 2rem;
  }

  .project-container {
    border-radius: 0rem;
    box-shadow: none;
    background-color: rgba(250, 235, 215, 0.568);
    margin: 3rem 0;
    @include displays;
  }

  .project-text {
    padding: 2rem;
    p {
      padding: 0;
    }
  }
}
