.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
body,
html {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
main {
  padding-top: 7.3rem;
}
